@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    background-color: #050A30;
    color: aliceblue;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.B {
    margin: 3pc;
}

.Heder {
    display: flex;
    justify-content: center;
}

.Tar {
    margin-top: 1pc;
    /* border: 1px solid red; */
    width: 30pc;
    display: flex;
    align-items: center;
}

.Tar:hover {
    background-color: rgba(189, 189, 189, 0.26);
}

.foto {

    width: 6pc;
    border-radius: 1pc;

}

.hijo1 {
    margin-left: 11px;
}

.hijo2 {
    padding-left: 25px;
}

.mar {
    margin: 5px 0;
}

.I {
    position: absolute;
}

.pa {
    margin-top: 41pc;
}

.ma {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: hsla(0, 0%, 74%, .1);
}